.header-top{
    border:2px solid blue;
    position:absolute
}
.header-nav ul{
    text-align: right;
}
.header-nav li{
    display: inline-block;
    list-style: none;
}
.header-nav a{
    display:block;
    text-decoration: none;
    margin-right: 10px;
}